<div class="cartList">
    {{#if products.length}}
    {{#each this.products as |product|}}
    <div class="cartItem">
        <img src="{{product.id.imageUrl}}" class="imageUrl">
        <div class="name">{{product.id.name}}</div>
        <div class="price">Price: {{product.id.price}}</div>
        <div class="description">{{product.id.description}}</div>
        <div class="quantity">Quantity: {{product.quantity}}</div>

        <button type="button" productId={{product._id}} class="btn btn-outline-danger reduceItem">Reduce Item</button>

    </div>
    {{/each}}
    {{else}}
    {{!-- <h1 class="elseh1">Cart is Empty</h1> --}}
    <img class="elseimg" src="https://gibbonnutrition.com/img/empty-cart-yellow.png" alt="cartEmpty">
    {{/if}}

</div>