<!DOCTYPE html>
<html lang="en">

<head>
    {{> meta}}
    <title>Update Profile</title>
    <link rel="stylesheet" href="/styles/navbar.css">
    <link rel="stylesheet" href="/styles/profile/profile.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">
</head>

<body>
    {{> navbar}}

    <div class="mycontainer">
        <div class="msg">{{msg}}</div>

        <div class="formContainer">

            <form action="/shop/update-profile?_method=PUT" class="updateProfile" method="POST"
                enctype="multipart/form-data">

                <div class="input-group mb-3">
                    <span class="input-group-text" id="basic-addon1">Username</span>
                    <input type="text" class="form-control name" name="name" placeholder="Enter Name"
                        aria-label="Username" aria-describedby="basic-addon1" value="{{name}}">
                </div>

                <div class="mb-3">
                    <label for="exampleInputEmail1" class="form-label">Email address</label>
                    <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp"
                        value="{{email}}" name="email" placeholder="Enter Email-ID">
                    <div id="emailHelp" class="form-text">We'll never share your email with anyone else.</div>
                </div>

                <div class="mb-3">
                    <label for="exampleInputEmail1" class="form-label">Contact Number</label>
                    <input type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp"
                        value="{{contact}}" name="contact" placeholder="Enter Contact Number">
                </div>

                <div class="mb-3">
                    <label for="exampleInputEmail1" class="form-label">Current Password</label>
                    <input type="password" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp"
                        name="currentpassword" placeholder="Enter Current Password">
                    <h6 class="fakemsg">{{fakeusermsg}}</h6>
                </div>

                <div class="mb-3">
                    <label for="exampleInputEmail1" class="form-label">New Password</label>
                    <input type="password" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp"
                        name="newpassword" placeholder="Enter New Password">
                </div>

                <button type="submit" class="btn btn-outline-primary mybtn">Update</button>

            </form>
        </div>

    </div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-HwwvtgBNo3bZJJLYd8oVXjrBZt8cqVSpeBNS5n7C8IVInixGAoxmnlMuBnhbgrkm"
        crossorigin="anonymous"></script>
    <script src="https://kit.fontawesome.com/24fc2554cd.js" crossorigin="anonymous"></script>
</body>

</html>